.container-fluid {
    margin:2%;
    margin-top:0;
    width: 93vw;
    padding: 2%;
    padding-top:0;
}



.container {
    height: 75vh;
    font-family: Franklin Gothic Medium;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav-content,
mat-sidenav {
    padding: 20px;
}

mat-sidenav {
    background-color: lightsteelblue;
}

.name {
    display: flex;
    float: left;
}

.heading {
    margin-left: 6%;
    font-weight: bolder;
    font-size: large;
    color: grey;
    font-family: arial black;
}

.row {
    font-family: arial black;
}

hr {
    line-height: 5px;
    color: red;
}

.icon {
    color: red;
}

.button {
    border: none;
    background-color: lightsteelblue;
}
.view {
    background-color: rgb(5, 195, 5);
    color: white;
}
.remove {
    background-color: red;
    color:white;
}
.firstCol {
    width: 12vw;
    font-weight: bold;
    font-size: large;
}