.container1 {
    margin:2%;
    justify-content: center;
}
.container2 {
    padding: 2%;
    justify-content: center;
}
.username {
    font-weight: bold;
    font-size: bolder;
}
.connect {
    display: flex; 
    float: right;
}
.add {
    background-color: blue;
    color:white;
}
.remove {
    background-color: white;
    color:blue;
    border:1px solid blue;
}